#Options All -Indexes

RewriteEngine On

RewriteRule ^keluar?$ ./module/keluar/execute.php

RewriteRule ^multiplepost?$ ./module/multiplepost/execute.php
RewriteRule ^multipledeletestatus?$ ./module/multipledeletestatus/execute.php
RewriteRule ^bomlike?$ ./module/bomlike/execute.php
RewriteRule ^addfriend?$ ./module/addfriend/execute.php
RewriteRule ^multipleunfriend?$ ./module/multipleunfriend/execute.php
RewriteRule ^friendrequest?$ ./module/friendrequest/execute.php
RewriteRule ^joingroup?$ ./module/joingroup/execute.php
RewriteRule ^multipleleavegroup?$ ./module/multipleleavegroup/execute.php
RewriteRule ^multipledeletepostgroup?$ ./module/multipledeletepostgroup/execute.php
RewriteRule ^multiplecomment?$ ./module/multiplecomment/execute.php
RewriteRule ^botpostgroup?$ ./module/botpostgroup/execute.php